/* Global Styles */
body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

/* Header Styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: auto;
    background-color: #89CFF0;
    color: #fff;
}

.logo {
    height: 40px;
}

.logo img {
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#search-container {
    margin-bottom: 10px;
}

#search-input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
}

/* Style the container for the profile picture */
#profile-pic-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

/* Style the profile picture */
#profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#match-container {
    position: absolute;
    top: 31px; /* 20 + (40 / 2) - (18 / 2) */
    right: 80px;
    /*width: auto;*/
    /*height: auto;*/
    overflow: hidden;
}