/* Global Styles */
body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

/* Header Styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: auto;
    background-color: #89CFF0;
    color: #fff;
}

.logo {
    height: 40px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Container Styles */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-notif {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    /*   font-weight: bold; */
}

/* Style the container for the profile picture */
#profile-pic-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

/* Style the profile picture */
#profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Add margin between the profile picture and the text */
.profile-link {
    display: flex;
    align-items: center;
}

#button-div {
    width: 1000%;
    margin: 0 auto;
}

#error-mssg {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: red;
    font-weight: bold;
}

.arrows {
    margin-left: 40vw;
    margin-right: 40vw;
    /*margin-bottom: 10px;*/
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
